body{
    overflow-x: hidden;
    width: 100vw;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 1050px){
    .site-info{
        flex-wrap: wrap;
    }

    .my-photo{
        max-width: 60%;
    }
}

@media screen and (max-width: 950px){
    .my-photo{
        max-width: 95%;
        align-self: center;
    }

    .form-img{
        display: none;
    }

    .close{
        top: 0px;
        right: 60px;
    }

    .modal{
        left: 20%;
        top: 10%;
        transform: translate(-0px, -0px);
    }

    fieldset{
        padding: 50px;
    }

    .consultations{
        scale: 0.85;
        flex-wrap: nowrap;
    }
    
    progress{
        width: 490px;
    }

    #interactiveQuiz{
        width: 700px;
    }

    h2.question{
        width: auto;
        font-size: 20px;
    }

    #submit{
        width: 650px;
    }

    span.answer-description{
        width: 290px;
    }

    span.nowidth{
        width: auto;
    }
}

@media screen and (max-width: 1200px){
    header{
        flex-wrap: wrap;
    }

    .head-container{
        align-items: flex-start;
        margin: 0 20px;
    }

    #nav{
        display: none;
    }

    .burger-menu{
        display: block;
    }



    /* footer style */

    footer{
        padding-left: 10%;
    }

    .footer-lists{
        margin: 0;
    }
    
    ul.footer-list{
        padding-left: 0;
    }

    .burger-copyright{
        left: 7%;
    }

    main{
        /* padding: 0 15px; */
        gap: 0px;
        margin: 100px 50px 0 50px;
        align-items: center;
        justify-content: center;
    }

    .main-container{
        align-items: center;
        margin-bottom: 0;
    }

    .page-container{
        width: 95%;
        margin-top: 0;
        padding-top: 0;
    }

    .site-info{
        /* flex-wrap: wrap; */
        scale: 0.9;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 20px 0;
    }

    #info{
        text-align: center;
    }

    .started{
        align-self: start;
    }

    #test-preview{
        flex-wrap: wrap-reverse;
        scale: 1;  
    }

    .reverse{
        flex-direction: column;
        scale: 1;
    }

    .none{
        display: flex;
        align-self: center;
        gap: 20px;
    }

    .hide{
        display: none;
    }

    .itc-slider{
        max-width: 90%;
    }

    .test-slider-item{
        flex: 0 0 30%;
        width: 330px;
    } 

    .test-slider-wrapper{
        padding: 0;
        margin: 20px 0;
    }

    .itc-slider-item{
        flex: 0 0 18%;
    }

    .itc-slider-items{
        gap: 30px;
    }

    .itc-slider-btn-prev:hover,
    .itc-slider-btn-next:hover{
        opacity: 1;
    }

    .offer-slider-item:hover{
        box-shadow: none;
    }

    .offer-slider-item{
        flex:  100%;
        height: auto;
        width: 320px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .client-card:hover,
    .offer-slider-item:hover,
    .itc-slider-item:hover{
        scale: 1;
    }

    .consultations{
        align-items: center;
        justify-content: center;
    }

    #nextPage{
        display: none;
    }

    h1.page-title{
        align-self: flex-start;
        margin-left: 70px;
    }

    .cards{
        flex-wrap: wrap;
    }

    .contact-card{
        gap: 15px;
    }

    /* .consultation{
        scale: 0.9;
    } */

    .contact-page{
        flex-direction: column;
        gap: 20px;
    }

    .page-header{
        align-items: center;
        width: 100vw;
    }

    .page-title{
        font-size: 38px;
    }

    .breadcrumb{
        display: none;
    }
}


@media screen and (max-width: 675px){
    /* header style */
    header{
        flex-wrap: wrap;
    }

    #nav{
        display: none;
    }

    .burger-menu{
        display: block;
    }

    .burger-copyright{
        left: 18%;
    }

    /* footer style */

    footer{
        padding-left: 10%;
    }

    .footer-lists{
        margin: 0;
    }
    
    ul.footer-list{
        padding-left: 0;
    }

    /* body style */
    main{
        /* padding: 0 15px; */
        gap: 50px;
        margin: 100px 0 0 0;
        align-items: center;
        justify-content: center;
    }

    .main-container{
        align-items: center;
        margin-bottom: 0;
    }

    .page-container{
        width: 95%;
        margin-top: 0;
        padding-top: 0;
    }

    .site-info{
        scale: 1;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    #info{
        text-align: center;
    }

    .started{
        align-self: start;
    }
    
    h1{
        font-size: 40px;
        text-align: center;
    }

    .my-photo{
        max-width: 95%;
        align-self: center;
    }

    .test-photo{
        width: 85%;
    }

    .check-list-container,
    .check-list,
    .btns{
        flex-direction: column;
        /* flex-wrap: wrap; */
    }

    .btn{
        width: inherit;
    }

    .btn:hover{
        scale: 1.02;
        background-color: #fff;
    }

    #nextPage{
        align-self: start;
        margin-left: 20px;
        width: 350px;
    }

    h2.container-name{
        font-size: 25px;
    }

    .offers{
        justify-content: center;
    }

    .none{
        display: flex;
        align-self: center;
        gap: 20px;
    }

    .hide{
        display: none;
    }

    .itc-slider{
        max-width: 85%;
    }

    .test-slider-wrapper{
        padding: 0;
        margin: 20px 0;
    }

    .itc-slider-item{
        flex: 0 0 100%;
        /* width: 50%; */
    }

    .client-card:hover{
        scale: 1;
    }

    .itc-slider-btn-prev:hover,
    .itc-slider-btn-next:hover{
        /* background-color: #029F8c; */
        opacity: 1;
    }

    .offer-slider-item:hover{
        box-shadow: none;
    }

    .offer-slider-item{
        flex:  20%;
        height: auto;
        width: 320px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .consultations{
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;
    }

    .price-img{
        width: 90vw;
    }

    .element-animation {
        opacity: 0;
        transform: translateY(0%);
    }

    .consultation{
        scale: 1;
    }

    h2.price{
        text-align: center;
    }

    .form-img{
        display: none;
    }

    .mySlides,
    .mySlides01 {
        margin: 150px 0;
    }

    .page-header{
        align-items: center;
        margin: 0 auto;
        width: 100vw;
    }

    .page-title{
        font-size: 38px;
    }

    .breadcrumb{
        display: none;
    }

    .contact-page,
    .contact-cards{
        /* flex-direction: column; */
        align-items: center;
        justify-content: center;
    }

    .contact-card{
        gap: 20px;
    }

    .map{
        display: none;
    }

    .contact-btn{
        align-self: center;
        width: inherit;
    }

    .cards{
        flex-wrap: wrap;
    }

    .card{
        width: 95%;
    }

    .client-img{
        width: 305px;
    }

    ol, .list{
        padding: 15px;
    }

    ol li,
    ul li{
        text-align: left;
    }

    .information{
        text-align: left;
    }

    .test-slider-item{
        flex: 1;
        padding: 5px;
    }

    a.link-btn{
        width: 310px;
        font-size: 20px;
    }

    .close{
        top: 0px;
        right: 60px;
    }

    .modal{
        margin: 0;
        padding: 0;
        align-self: center;
        left: 0.5%;
        top: 10%;
        transform: translate(-0px, -0px);
        width: 100%;
    }

    fieldset{
        padding: 50px 25px 20px 25px;
        width: 98vw;
        margin: 0 auto;
    }

    input.text{
        width: 85vw;
    }

    .quiz-list{
        gap: 0;
    }

    span.answer-description{
        width: 290px;
    }

    span.nowidth{
        width: auto;
    }

    .progress{
        flex-direction: column;
    }

    progress{
        width: 250px;
    }

    h2.question{
        width: auto;
        font-size: 18px;
    }

    h3.summary{
        text-align: center;
    }

    span{
        font-size: 17.5px;
    }

    #interactiveQuiz{
        width: inherit;
    }

    #submit{
        width: inherit;
    }
}