body{
    overflow-x: hidden;
    max-width: 100vw;
    padding: 0;
    margin: 0;
}


@media screen and (max-width: 1200px){
    /* header style */
    header{
        flex-wrap: wrap;
    }

    #nav{
        display: none;
    }

    /* footer style */

    footer{
        padding-left: 50px;
    }

    .footer-lists{
        margin: 0;
    }
    
    /* body style */
    main{
        /* padding: 0 15px; */
        gap: 20px;
        margin: 100px 0;
        align-items: center;
        justify-content: center;
    }

    .page-container{
        /* padding-right: 15px; */
        width: 95%;
        /* margin-top: 0; */
    }

    .site-info{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    
    h1{
        font-size: 40px;
        text-align: center;
    }

    .my-photo,
    .test-photo{
        max-width: 90%;
        align-self: center;
    }

    .check-list-container,
    .check-list,
    .btns{
        flex-direction: column;
        /* flex-wrap: wrap; */
    }

    .btn{
        width: inherit;
    }

    .btn:hover{
        scale: 1.02;
        background-color: #fff;
    }

    h2.container-name{
        font-size: 25px;
    }

    .offers{
        justify-content: center;
    }

    .itc-slider{
        max-width: 85%;
    }

    .itc-slider-item{
        flex: 0 0 100%;
        /* width: 90%; */
    }


    .consultations{
        justify-content: center;
        gap: 10px;
    }

    .price-img{
        width: 90vw;
    }

    /* #help{
        display: none;
    } */

    .element-animation {
        opacity: 0;
        transform: translateY(-20%);
    }

    .consultation{
        scale: 0.9;
    }

    h2.price{
        text-align: center;
    }

    .form-img{
        display: none;
    }

    .page-header{
        /* padding-left: 20px; */
        align-items: center;
        width: 100vw;
    }

    .breadcrumb{
        display: none;
    }

    .contact-page,
    .contact-cards{
        /* flex-direction: column; */
        align-items: center;
        justify-content: center;
    }

    .contact-card{
        gap: 20px;
    }

    .map{
        display: none;
    }

    .contact-btn{
        align-self: center;
        width: inherit;
    }

    .cards{
        flex-wrap: wrap;
    }

    .card{
        width: 95%;
    }

    ol, .list{
        padding: 15px;
    }

    ol li,
    ul li{
        text-align: left;
    }

    .information{
        text-align: left;
    }

    .test-slider-item{
        flex: 1;
        padding: 12px;
    }

    a.link-btn{
        width: 310px;
    }

    .close{
        right: 50px;
    }

}