@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;600;700&family=Open+Sans:wght@300;400;500;600&display=swap');

/* #029F8c */

*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* outline: 2px solid lightgreen; */
}

html {
    scroll-behavior: smooth;
    opacity: 1;
    transition: all 2s;
}

body{
    margin: 0 auto;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 50px;
    min-height: 100vh;
    justify-content: center;
    overflow-x: hidden;
    scroll-behavior:smooth;
}

.body_hide {
	opacity: 0;
	transition: 2s opacity ease-in-out;
}
.body_visible {
	opacity: 1;
}

::selection {
    background: #029F8c; /* Safari */
    color: #fff;
}

main{
    position: relative;
    padding: 0 50px;
    margin: 120px auto;
    max-width: 1200px;
    display: flex;
    gap: 50px;     
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a{
    color: black;
}

.green{
    color: #029F8c;
}

.orange{
    color: #f7ab1e;
}

.gray{
    filter: grayscale(1);
}

.site-info{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.my-photo{
    max-width: 490px;
    border-radius: 25px;
    box-shadow: 12px 11px 19px -3px rgba(34, 60, 80, 0.32);
}

.psy-info{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 10px;
}

h1 {
    font-family: 'caveat';
    font-size: 50px;
    color: #029F8c;
}


.information{
    border-top: 3px solid #029F8c;
    border-bottom: 3px solid #029F8c;
    padding: 20px 0;
    font-size: 20px;
    text-align: justify;
}

.check-list{
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.check-item{
    font-size: 20px;
    list-style: none;
    display: flex;
    gap: 10px;
    align-items: center;
}

.btns{
    display: flex;
    gap: 30px;
}

.btn,
.link-btn{
    text-align: center;
    cursor: pointer;
    width: 300px;
    height: 30px;
    padding: 25px;
    color: #fff;
    font-size: 17.5px;
    border: none;
    border-radius: 10px;
    transition: all .8s;
    box-shadow: 12px 11px 19px -3px rgba(34, 60, 80, 0.32);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;   
    gap: 10px;
}

.green-btn, .link-btn{
    background: linear-gradient(45deg, #4a90aa 0%, #029f8c 50%,  #4a90aa 100%);
}

.orange-btn{
    background: linear-gradient(90deg, rgba(2,159,140,1) 0%, rgba(247,171,30,1) 100%);   
}

.btn:hover{
    scale: 1.05;
}

.green-btn:hover{
    /* color: #029F8c; */
}

.orange-btn:hover{
    /* border: 1px solid #f7ab1e; */
    /* color: #029F8c; */
}

.test-btn{
    width: 330px;
}

.test-btn:hover{
    scale: 1.02;
    color: #fff;
}

a.top{
    position: absolute;
    right: -15%;
    bottom: -4%;
    display: none;
}

.fa-angle-up{
    opacity: 0.6;
    background-color: #029F8c;
    color: #fff;
    padding: 15px 20px;
    border-radius: 50%;
    transition: all .8s;
    border-radius: 50%;
    font-size: 25px;
    font-weight: 700;
}

a.top:hover>.fa-angle-up{
    opacity: 1;
}

.orange-border{
    border-top: 3px solid #f7ab1e;
    border-bottom: 3px solid #f7ab1e;
}

.main-container{
    width: 100vw;
    padding: 50px 0;
    text-align: center;
    background-color: #f4fcfa;
    box-shadow: 0px 0px 75px 8px rgba(34, 60, 80, 0.08) inset;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.container-title{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inherit-fill{
    background-color: #fff;
    box-shadow: none;
}

.container-name{
    font-size: 40px;
    text-align: center;
}

.container-description{
    color: #b4b4b4;
    cursor: default;
}

.offers{
    margin-top: 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.offer{
    text-align: center;
    padding: 10px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    width: 250px;
    transition: all .5s;
}

.offer:hover{
    box-shadow: 0px 0px 15px 5px rgba(34, 80, 46, 0.2);
}

.offer:hover > h3{
    color: #f7ab1e;
    opacity: 1;
}

.offer-img{
    width: 80px;
}

.offer-name,
.test-body,
.result,
.summary,
.title,
span,
.question{
    font-size: 16px;
    opacity: 0.8;
    text-transform: uppercase;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: all 0.7s;
    cursor: default;
}

.number, .result, .title{
    font-weight: 700;
}

/* slider */

.itc-slider{
    position: relative;
    display: flex;
    max-width: 1200px;
    max-height: 600px;
}

.hidden{
    display: none;
    transition: all 2s;
}

.itc-slider-wrapper{
    overflow: hidden;
    display: flex;
    padding: 10px;
}

.itc-slider-items{
    display: flex;
    transition: transform 0.5s ease;
    align-items: center;
    gap: 30px;
}

.itc-slider-transition-none {
    transition: none;
}

.itc-slider-item{
    flex: 0 0 30%;
    user-select: none;
    object-fit: cover;
    height: 295px; 
    width: calc(100% / 3);
    cursor: pointer;
}

.test-slider-item{
    flex: 0;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    box-shadow:  4px 4px 8px 1px rgba(34, 60, 80, 0.2);
    border-radius: 10px;
    padding: 22px;
    cursor: auto;
}

.none{
    display: none;
}

.link-btn:hover{
    scale: 1.05;
}

  /* кнопки влево и вправо */
.itc-slider-btn {
    font-size: 30px;
    text-align: center;
    background-color: #029F8c;
    color: #fff;
    line-height: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: all .4s;
    cursor: pointer;
    position: absolute;
    top: 40%;
    opacity: 0.7;
}  

.itc-slider-btn-prev {
    left: -23px;
}

.itc-slider-btn-next {
    right: -23px;
}

.itc-slider-btn-prev:hover,
.itc-slider-btn-next:hover{
    opacity: 1;
}

.itc-slider-btn-prev:active,
.itc-slider-btn-next:active{
    transform: scale(0.7);
}

/* photo viewer */
/* The Modal (background) */
.modal0,
.modal01 {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    overflow-y: hidden;
    background-color: #000000c7;
    z-index: 5;
}

  /* Modal Content */
.modal-content,
.modal-content01 {
    position: relative;
    margin: auto;
    padding: 0;
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}

  /* The Close Button */
.close{
    color: #fff;
    position: absolute;
    top: 10px;
    right: 100px;
    font-size: 50px;
    font-weight: bold;
    transition: all .5s;
    border: none;
    background-color: none;
}

.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
    color: #f7ab1e;
}

#close-btn{
    color: #029F8c;
    background-color: inherit;
    right: 25px;
    z-index: 2;
}

#close-btn:hover{
    color: #f7ab1e;
}

  /* Hide the slides by default */
.mySlides,
.mySlides01 {
    margin: 0;
    padding: 0;
    display: none;
    background-color: inherit;
}

  /* Next & previous buttons */
.left,
.right {
    cursor: pointer;
    position: absolute;
    top: 0%;
    width: 50px;
    height: 100vh;
    padding: 16px;
    opacity: 0.3;
    text-align: center;
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.8);
}

  /* Position the "next button" to the right */
.right {
    right: 0px;
    border-radius: 3px 0 0 3px;
}

.left {
    left: 0;
    border-radius: 3px 0 0 3px;
}

  /* On hover, add a black background color with a little bit see-through */
.left:hover,
.right:hover {
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0.8;
}

figcaption{
    font-size: 25px;
    text-align: center;
    color: #fff;
}

figure > img.centered{
    margin-left: 100px;
}

.consultations{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.consultation{
    box-shadow: 0px 0px 15px 5px rgba(34, 80, 46, 0.2);
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.consultation-name{
    font-size: 35px;
    border-bottom: 3px solid #029F8c;
    opacity: 1;
    font-weight: 600;
}

.price{
    font-size: 50px;
    text-align: left;
}

span.sale{
	color: #4a90aa;
	font-weight: 700;
}

#personalConsultation,
#familyConsultation,
#testBtn,
#submit{
    width: inherit;
}

.price-img{
    max-width: 350px;
}

.container{
    position: relative;
}

.modal-wrapper{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #1b1b1bb4;
    display: none;
    z-index: 2;
}

.modal{
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-45%, -45%);
    display: flex;
    flex-direction: column;
    gap: 50px;
    box-shadow: 4px 4px 8px 10px #00000080;
}

#fieldset{
    padding: 25px;
    border: 2px solid #029F8c;
    border-radius: 5px;
    display: flex;
    align-items: center;
    box-shadow:  4px 4px 8px 10px rgba(34, 60, 80, 0.2);
    gap: 0px;
    background-image: url('https://dzmitrysopat.github.io/jasvami.com/img/background.png');
}

.input-section{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 15px;
    text-align: left;
    font-size: 20px;
    /* max-width: 350px; */
}

.messengers-block{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

input.text, textarea.text{
    width: 400px;
    height: 40px;
    padding: 10px;
    font-size: 17px;
    border-radius: 5px;
    border: 2px solid #029F8c;
    box-shadow:  4px 4px 8px 1px rgba(34, 60, 80, 0.2);
}

textarea.text{
    height: 140px;
    width: 100%;
    resize: none;
}

.input__contact{
    display: flex;
    flex-direction: column;
}

.form-img{
    width: 400px;
    /* display: none; */
}

.form-btn{
    width: inherit;
}

.element-animation {
    opacity: 0;
    transform: translateY(15%);
}

.element-animation.element-show {
    opacity: 1;
    transition: all 1.5s;
    transform: translateY(0%);
}

/* pages style */
.page-main{
    text-align: left;
    padding: 0;
    margin-top: 50px;
    margin-bottom: 100px;
    gap: 20px;
}

.no-border{
    border: none;
    padding: 10px 0;
}

.header-container{
    background-image: url('../img/background.png');
    background-position: center;
    box-shadow: 0px 0px 75px 8px rgba(34, 60, 80, 0.16) inset;
    margin-bottom: 50px;
}

.page-header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 1200px;
}

.page-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-page{
    display: flex;
    flex-direction: row;
}

ul.breadcrumb {
    font-family: 'caveat';
    padding: 5px 2px;
    display: flex;
    gap: 0px;
    align-items: center;
}

/* Display list items side by side */
ul.breadcrumb li {
    font-family: 'caveat', cursive;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 5px;
    color: #029F8c;
    content: "»";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    font-size: 25px;
    color: #029F8c;
    transition: all .2s;
    font-family: 'caveat', cursive;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: #f7ab1e;
}

ol, .list{
    counter-reset: myCounter;
    background-image: url('../img/background.png');
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px 10px rgba(34, 60, 80, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

ol li,
ul li{
    list-style-type: none;
    line-height: 20px;
    margin: 0 0 8px 0px;
    font-size: 20px;
    text-align: justify;
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
}

ol li:before {
    counter-increment: myCounter;
    content: counter(myCounter);
    color: #fff;
    background: #029F8c;
    display: inline-block;
    text-align: center;
    line-height: normal;
    height: auto;
    width: auto;
    margin: 0 10px 0 0;
    padding: 7px 13px;
    border-radius: 50%;
    font-size: 20px;
}

.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 30px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-image: url('../img/background.png');
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px 10px rgba(34, 60, 80, 0.1);
}

.sign{
    align-self: flex-start;
    font-weight: 700;
    font-size: 30px;
}

.signature{
    margin: 20px 0;
}

.clients-cards{
    gap: 15px;
}

.client-card{
    border-radius: 5px;
    align-items: center;
    align-items: flex-start;
    gap: 10px;
    box-shadow: none;
    padding: 19px;
    transition: all .7s;
    box-shadow:  4px 4px 8px 1px rgba(34, 60, 80, 0.2);
}

.client-card:hover{
    scale: 1.05;
}

.client-card:hover > h3{
    color: #f7ab1e;
}

.clients-name{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    text-transform: none;
    font-weight: 100;
}

.client-img{
    width: 250px;
}

.test-img{
    width: 320px;
}

.test-photo{
    width: 500px;
}

#test-preview{
    align-items: center;
}

.interactiveQuiz{
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-image: url('../img/background.png');
    border: 2px solid #029F8c;
    padding: 20px;
    border-radius: 15px;
    box-shadow:  4px 4px 8px 5px rgba(21, 33, 43, 0.2);
}

.quiz-list{
    display: flex;
    margin: 10px 0;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
    align-items: flex-start;
    align-self: flex-start;
}

.row-list{
    flex-direction: row;
    align-self: center;
    gap: 30px;
}

.label__input{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
}

.progress{
    display: flex;
    gap: 10px;
    align-items: center;
}

progress{
    width: 600px;
    height: 15px;
    border-radius: 50px;
    justify-content: space-between;
}

progress::-webkit-progress-bar { 
    background:  #029F8c77; 
    border-radius: 25px;
} 
progress::-webkit-progress-value {
    background: #f7ab1e;
    border-radius: 50px;
}

label{
    padding: 5px 5px 5px 5px;
    transition: all .3s;
    border-radius: 8px;
} 

label:hover{
    background-color: #029f8d77;
}

.title{
    font-size: 21px;
    align-self: center;
    text-align: center;
    max-width: 700px;
    margin: 20px;
}

.message{
    align-self: center;
    text-align: center;
    font-size: 25px;
    height: 50px;
}

h2.question{
    font-size: 22px;
    width: 750px;
    align-self: flex-start;
    text-align: left;
}

span{
    font-weight: 700;
}

.result{
    align-self: center;
    color: #029F8c;
    font-size: 20px;
    max-width: 300px;
    align-items: center;
}

.summary{
    font-size: 18px;
}

.results{
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 600px;
}

.result-comntainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow:  4px 4px 8px 5px rgba(21, 33, 43, 0.2);
    flex-direction: column;
    border-radius: 10px;
    padding: 20px;
}

.contact-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.contact-card{
    padding: 15px;
    width: 270px;
    display: flex;
    flex-direction: column;
    background-image: url('../img/background.png');
    border-radius: 15px;
    box-shadow: 12px 11px 19px -3px rgba(34, 60, 80, 0.32);
    align-items: flex-start;
    justify-content: space-between;
}

.contact-link,
.contact-form-link{
    font-size: 18px;
    transition: all .5s;
}

a.contact-form-link{
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact-link:hover,
.contact-form-link:hover{
    color: #e96b42;
}

.contact-btn{
    align-self: flex-start;
}

[type="radio"]{
    display: none;
}

[type="radio"]:checked + span.answer-description::after{
    transform: scale(1);
}

span.answer-description{
    margin-right: 25px;
    display: inline-flex;
    align-items: center;
    font-size: 20px;
    position: relative;
    width: 720px;
}

span.answer-description::before{
    content: '';
    flex: 0 0 25px;
    height: 25px;
    background-color: #fff;
    border: 2px solid #029F8c;
    opacity: 0.85;
    border-radius: 50%;
    margin-right: 10px;
    align-self: flex-start;
}

span.answer-description::after{
    transition: all ease-out 0.1s;
    position: absolute;
    top: -2px;
    left: -2px;
    content: url('../img/icons/check-input.svg');
    transform: scale(0);
}

span.nowidth{
    width: auto;
}

::-webkit-scrollbar{
	width: 10px;
}

::-webkit-scrollbar-track{
	background-color: #f3fbf9 ;
}

::-webkit-scrollbar-thumb{
	background: #029f8d5d;
}

.page-container > .payment-icons{
    align-self: flex-start !important;
    max-width: 600px;
    opacity: 0.8;
    /* margin-left: 100px; */
        /* display: none; */
}

/* checkbox for form */
input[type=checkbox]{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

div.checkbox-container{
    display: block;
    position: relative;
    transition: all .4s;
    padding-left: 50px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 50px;
}

div.checkbox-container > label{
    cursor: pointer;
    position: absolute;
    padding-left: 50px;
    left: 0;
    max-width: 400px;
}

div.checkbox-container > .checkmark {
    position: absolute;
    top: 10px;
    left: 0px;
    height: 32px;
    width: 32px;
    border: 2px solid #383838;
    border-radius: 8px;
    transition: all .4s;
    background-color: #383838;
}

div.checkbox-container:hover input ~ .checkmark{
    /* background-color: #555555; */
}

.checkbox-container input:checked ~ .checkmark {
    background-color: #383838;
    border: 2px solid #ddd;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

.checkbox-container .checkmark:after {
    left: 10px;
    top: 5px;
    width: 8px;
    height: 16px;
    border: solid #ddd;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}