/* @import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@700&family=Pacifico&family=Raleway:wght@500&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@700&family=Open+Sans:wght@300;400;500;600&family=Pacifico&family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;600;700&family=Open+Sans:wght@300;400;500;600&display=swap');


progress {
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none;
   }
   
html {
    scroll-behavior: smooth;
    opacity: 1;
    transition: all 2s;
}

.body_hide {
	opacity: 0;
	transition: .8s opacity ease-in-out;
}
.body_visible {
	opacity: 1;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: 'caveat', cursive; */
    font-family: "Open Sans", sans-serif;
    /* font-weight: 600; */
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 16px;
    color: #383838;
}


::selection {
    background: #029F8C; /* Safari */
    color: #fff;
    }

body{
    width: auto;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
    /* background-color: #e4e5b94f; */
    scroll-behavior:smooth;
}

.main{
    width: 100%;
    max-width: 1200px;
    /* margin-top: 60px; */
    margin: 60px auto;
    padding: 0px 25px 50px 25px ;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
    align-items: center; 
    position: relative;
    scroll-behavior:smooth;
}

.personal{
    width: 550px;
    height: auto;
    /* padding: 50px 0; */
}

.page__name{
    font-size: 42px;
    font-weight: 100;
    color: #383838;
}
.Hanna{
    display: flex;
    flex-direction: row;
    padding-top: 100px;
    /* align-items: center; */
    /* justify-content: flex-start; */
    gap: 50px;
}
h1{
    color: #029F8C;
    font-family: caveat, cursive;
    /* font-family: 'Pacifico', cursive; */
    font-weight: 700;
    font-size: 50px;
    /* width: 450px; */
}

/* #your__psycho{
    width: 450px;
} */

.personal__info{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 10px 0;
    justify-content: center;
    /* padding-top: 150px; */
    /* background-color: #fff; */
}

.experience{
    transition: all 0.5s;
}

/* .experience:hover{
    scale: 1.05;
} */

.numbers{
    display: flex;
    flex-direction: row;
    box-shadow:  4px 4px 8px 1px rgba(34, 60, 80, 0.2);
    border-radius: 5px;
    /* justify-content: space-around; */
    align-items: center;
    gap: 20px;
    padding: 20px 30px;
    /* background-color: #3ed6c41f; */
    background-image: url(../img/bg-copy-2-5.png);
}

.big__number{
    /* color: #f7ab1e; */
    color: #029F8C;
    font-size: 60px;
    /* padding-bottom: 15px; */
    /* border-top: 3px solid #029F8C; */
    /* border-bottom: 3px solid #029F8C; */
}

.offers{
    display: flex;
    /* gap: 0px; */
}

.offer{
    display: flex;
    flex-direction: column;
    /* border: 1px solid #383838; */
    align-items: center;
    text-align: justify;
    width: 250px;
    gap: 10px;
    padding: 10px;
    /* border-radius: 15px; */
    transition: all 0.5s;
}

.checked{
    display: flex;
    flex-direction: row;
    gap: 90px;
}

.check__list{
    /* list-style-image: url(../img/icons/check.svg); */
    /* width: 25px; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* justify-content: center; */
    /* flex-wrap: wrap; */
}

.offer:hover{
    box-shadow: 0px 0px 15px 5px rgba(34, 80, 46, 0.2);
    /* background-color: #f4fcfa67; */
}

.offer_img{
    width: 80px;
}

.offer__description{
    font-weight: 100;
    text-align: center;
    /* width: 250px; */
    color: #b4b4b4;
    transition: all .5s;
    cursor: default;
}

.offer:hover > .offer__description{
    color: #5f5f5f;
    /* color: #029F8C; */
}

.offer:hover > h4{
    color: #f7ab1e;
}

h4{
    
    text-transform: uppercase;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: all .9s;
    cursor: default;
}

.btns{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.btn{
    /* font-family: Pacifico, cursive; */
    background-color:#f7ab1e ;  
    color: #fff;
    width: 300px;
    height: 30px;
    border: 1px solid #f7ab1e;
    border-radius: 5px;
    font-size: 17.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    gap: 30px;
    transition: all 0.5s;
    box-shadow: 12px 11px 19px -3px rgba(34, 60, 80, 0.32);
    cursor: pointer;
}

.form-btn{
    width: inherit;
}

.test-btn{
    width: 650px;
}

.price-btn{
    width: 360px;
}

.btn:hover{
    background-color: #fff;
    color: #e96b42;
    border: 1px solid #e96b42;
    scale: 1.02; 
}

#consultation,
#personalConsultation,
#familyConsultation,
.form-btn{
    background-color: #029F8C;
    border: 1px solid #029F8C;
    color: #fff;
    transition: all 0.5s;
    /* width: 300px; */
    /* border-radius: 15px; */
}

#consultation:hover{
    border: 1px solid #029F8C;
    color: #029F8C;
    background-color: #fff;
}

h3{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    color: #f7ab1e;
    font-weight: 600;
    font-size: 80px;
}

h2{
     /* font-family: 'caveat', cursive; */
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ; */
    color: #f7ab1e;
    font-weight: 600;
    font-size: 40px;
}

span{
    color: #383838;
    /* color: #029F8C; */
    /* font-weight: 600; */
    text-align: justify;
}

.text{
    border-radius: 5px;
    width: inherit;
    /* width: 450px; */
    height: 40px;
    padding-left: 10px;
    border: 2px solid #029F8C;
    box-shadow:  4px 4px 8px 1px rgba(34, 60, 80, 0.2);
}

textarea.text{
    border-radius: 5px;
    padding: 10px;
    border: 2px solid #029F8C;
    height: 140px;
    width: inherit;
    resize: none;
    box-shadow:  4px 4px 8px 1px rgba(34, 60, 80, 0.2);
    /* background-color: #f4fcfa88; */
}

.page__logo{
    /* background-attachment: fixed; */
    /* height: 176px; */
    width: 100vw;
    /* height: 175px; */
    align-items: flex-start;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
    background-image: url(../img/bg-copy-2-5.png);
    display: flex;
    padding: 100px 380px 50px;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: ; */
    box-shadow: 0px 0px 75px 8px rgba(34, 60, 80, 0.16) inset;
}

.author{
    font-family: caveat, cursive;
    /* font-family: Pacifico, cursive; */
    font-size: 32px;
    font-weight: 700;
    /* text-align: right; */
    justify-self: end;
    color: #029F8C;
}

.clients{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-self: flex-start;
    flex-wrap: wrap;
}

.clients__list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* margin-left: 30px; */
    list-style-type: none;
    background-image: url('../img/bg-copy-2-5.png');
    padding: 20px 20px 30px 20px;
    border-radius: 8px;
    justify-content: space-around;
    /* gap: 30px; */
    box-shadow: 0px 0px 20px 10px rgba(34, 60, 80, 0.1);
    
    /* list-style-image: url('../img/icons/check-green.svg'); */
}

.clients__list__item{
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
}

.green__name{
    color: #029F8C;
}

.about__client{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:end;
    gap: 0px;
    /* gap: 20px; */
    padding: 10px;
    /* width: 280px; */
    /* border: 1px solid #e96b42; */
    transition: all 0.7s;
    border-radius: 5px;
    box-shadow:  4px 4px 8px 1px rgba(34, 60, 80, 0.2);
}

.gray{
    filter: grayscale(1);
}

.about__client:hover{ 
    scale: 1.05;
    /* filter: grayscale(0); */
} 

.client__img{
    width: 260px;
}

.client__name{
    font-size: 20px;
    /* color: #e96b42; */
}

/* Style the list */
ul.breadcrumb {
    font-family: 'caveat', cursive;
    /* font-family: 'OpenSans', sans-serif; */
    padding: 5px 2px;
    list-style: none;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    align-items: center;
}

/* Display list items side by side */
ul.breadcrumb li {
    font-family: 'caveat', cursive;
    display: inline;
    font-size: 14px;
    /* font-weight: 600; */
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 5px;
    color: #029F8C;
    /* color: #494949; */
    content: "»";
    /* content: "/"; */
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    font-size: 25px;
    /* font-weight: 600; */
    color: #029F8C;
    text-decoration: none;
    transition: all .2s;
    font-family: 'caveat', cursive;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: #f7ab1e;
    /* text-decoration: underline; */
}


.breadcrumb__link:hover:after,
.breadcrumb__link:focus:after {
	width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}



li,p,td, .lorem{
    font-size: 20px;
    text-align: justify;
    /* text-indent: 20px; */
    /* font-weight: 600; */
    /* font-family: 'caveat', cursive; */
}

.lorem{
    padding: 20px 0;
    border-bottom: 3px solid #029F8C;
    border-top: 3px solid #029F8C;
}

.numered__lists{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

th, .type__name{
    font-family: 'caveat', cursive;
    text-transform: uppercase;
    font-size: 20px;
    text-align: left;
    font-weight: 600;
}

.type__name, th:nth-child(2){
    color: #029F8C;
}

.type__name, th:nth-child(1){
    color: #e96b42;
}

td{
    padding-right: 30px;
    border-left: 3px solid #029F8C;
}

td:nth-child(2){
    border-left: 5px solid #e96b42;
}

td:nth-child(1){
    border-left: 5px solid #029F8C;
}

.tests{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    /* max-width: 1200px; */
    /* justify-content: space-between; */
}

.test{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.test:hover{
    opacity: 1;
/* scale: 1.03; */
}

.test__img{
    width: 355px;
    /* border-radius: 50px 0 0 0; */
}

.test__name{
    /* font-weight: 600; */
    transition: all 0.7s;
    /* font-family:Pacifico, cursive; */
    font-size: 25px;
    background-color: #029F8C;
    color: #fff;
    border-radius: 0 0 5px 5px;
    padding: 5px 15px;
    /* opacity: 0.7; */
}

.test__description{
    text-align: justify;
    padding: 10px 15px;    
    text-align: left;
    color: gray;
    transition: all 0.7s;
    font-weight: 100;
}

.test:hover > .test__description{
    color: #029F8C;
}

.test:hover > .test__name{
background-color: #e96b42;
}

.error-img{
    width: 700px;
}

.error__description{
    /* font-family: Pacifico; */
    font-size: 35px;
    font-weight: 100;
    color: #029F8C;
}

hr{
    width: 500px;
    color: #fff;
    border-radius: 50px;
}

.line{
    width: 500px;
    height: 3px;
    background-color: #029F8C;
    border-radius: 50px;
}

.error__page{
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.notfound__description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.contact__link{
    color: #e96b42;
    font-size: 18px;
    transition: all 0.9s;
}

/* svg .icon{
    fill: #029F8C;
} */

.cards{
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
}

.allin{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact__link:hover{
    color: #029F8C;
}

.contact__page{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
}

.contacts{
    display: flex;
    flex-direction: row;
    /* gap: 10px; */
    /* flex-wrap: wrap; */
}

.svg__icon{
    width: 25px;
}

.contact{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 166px;
    width: 255px;
    justify-content: center;
    box-shadow:  4px 4px 8px 1px rgba(34, 60, 80, 0.2);
    border-radius: 15px;
    padding: 20px;
    background-image: url(../img/bg-copy-2-5.png);
    font-size: 20px;
    color: #383838;
    transition: all 1s;
}

/* .contact:hover{
    scale: 1.05;
} */

#contact__form{
    gap: 50px;
    display: flex;
    flex-direction: column;
    /* background-image: url(../img/bg-copy-2-5.png); */
}

label{
    font-size: 18px;
}

.input__contact{
    gap: 5px;
    display: flex;
    flex-direction: column;
    /* width: ; */
}

fieldset{
    padding: 15px;
    border: 2px solid #029F8C;
    border-radius: 10px;
    display: flex;
    box-shadow:  4px 4px 8px 10px rgba(34, 60, 80, 0.2);
    flex-direction: row;
    gap: 10px;
    background-color: #f4fcfa;
    
    /* background-image: url(../img/bg-copy-2-5.png); */
}

legend{
    /* border: 2px solid #029F8C; */
    font-size: 22px;
    padding: 15px;
    color: #029F8C;
}


.for__big__text,
.for__lil__text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.lil-inputs{
    display: flex;
    gap: 20px;
    width: inherit;
}

.lil-input{
    width: 225px;
}

.form-img{
    width: 430px;
}

.map-widget-app{
    /* border-radius: 50px; */
}

.svg__contact{
    width: 30px;
}

.check__item{
    /* list-style-type: none; */
    list-style-image: url('../img/icons/check.svg');
    display: flex;
    gap: 10px;
    align-items: center;
}

/* .check__item:before{
    content: url('../img/icons/check.svg');
} */

.button-1 {
    color: #232323;
    background: transparent;
    border: 1px solid #232323;
    position: relative;
    font-size: 14px;
    letter-spacing: .3em;
    font-family: 'Montserrat', sans-serif;
    padding: 17px 34px 17px 39px;
    transition: .2s ease-in-out;
    cursor: pointer;
}
.button-1:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 100%;
    height: 100%;
    background: #32D4E2;
    z-index: -1;
    transition: .25s ease;
    transform: translate(0, 0);
}
.button-1:hover:before {
    transform: translate(4px, 4px);
}

ol{
    counter-reset: myCounter;
  }
  
 ol li{
    list-style: none;
    line-height: 20px;
    margin: 0 0 8px 0px;
  }
  
  ol li:before {
    counter-increment: myCounter;
    content: counter(myCounter);
    color: #fff;
    background: #029F8C;
    display: inline-block;
    text-align: center;
    line-height: normal;
    height: auto;
    width: auto;
    margin: 0 10px 0 0;
    padding: 7px 13px;
    border-radius: 50%;
    font-size: 20px;
}


.howicanhelp{
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    /* background-image: url('../img/bg-copy-2-5.png'); */
    /* background-size: 100vw; */
    background-color: #f4fcfa;
    width: 100vw;
    box-shadow: 0px 0px 75px 8px rgba(34, 60, 80, 0.08) inset;

}

.icanhelp{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #383838;
}

.lil__line{
    width: 150px;
    height: 3px;
    /* background-color: #029F8C; */
}

.lil-description{
    padding-top: 10px;
    border-top: 3px solid #029F8C;
}

.courses{
    /* padding: 0 23px; */
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
    text-align: center;
}

.carousel{
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    margin:  0 20px;
}

.carousel img{
    margin-left: 15px;
    width: calc(100% / 3);
    height: 295px;
    object-fit: cover;
}

.carousel img:first-child{
    margin-left: 15px;
}

.courses i{
    font-size: 30px;
    text-align: center;
    background-color: #f7ab1e;
    color: #fff;
    line-height: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: all .4s;
    cursor: pointer;
    position: absolute;
    top: 50%;
    opacity: 0.7;
    /* transform: translateY(-70%); */
}


.courses .carousel{
    scroll-behavior: smooth;
}

.courses i:active{
    transform: scale(0.7);
}

.carousel.dragging{
    cursor: grab;
    scroll-behavior: auto;
}

.carousel.dragging img{
    pointer-events: none;
}

.courses i:hover{
    /* color: #f7ab1e; */
    display: block;
    background-color: #029F8C;
    opacity: 1;
}

.courses i:first-child{
    left: -5px;
}

.courses i:last-child{
    right: -5px;
}

@media screen and (max-width: 900px) {
    .carousel img{
        width: calc(100% / 2);
    }
}

@media screen and (max-width: 550px) {
    .carousel img{
        width: 90%;
    }

    .courses i{
        top: 60%;
    }
}

.second__slider{
    max-width: 1200px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }
  
  .itc-slider {
    position: relative;
  }
  
  .itc-slider-wrapper {
    overflow: hidden;
    display: flex;
    /* flex-direction: row; */
  }
  
  .itc-slider-items {
    display: flex;
    transition: transform 0.5s ease;
    align-items: center;
    /* justify-content: center; */
    gap: 30px;
  }
  
  .itc-slider-transition-none {
    transition: none;
  }
  
  .itc-slider-item{
    flex: 0 0 30%;
    user-select: none;
    object-fit: cover;
    height: 295px;
    width: calc(100% / 3);
  }
  
  
  /* кнопки влево и вправо */
  .itc-slider-btn {
      font-size: 30px;
      text-align: center;
      background-color: #f7ab1e;
      color: #fff;
      line-height: 50px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      transition: all .4s;
      cursor: pointer;
      position: absolute;
      top: 40%;
      opacity: 0.7;
  }
  
  .itc-slider-btn-prev {
    left: -23px;
  }
  
  .itc-slider-btn-next {
    right: -23px;
  }
  
  .itc-slider-btn-prev:hover,
  .itc-slider-btn-next:hover{
    background-color: #029F8C;
    opacity: 1;
}

  .itc-slider-btn-prev:active,
  .itc-slider-btn-next:active{
    transform: scale(0.7);
}

.title{
    padding: 15px;
    font-size: 30px;
    color: #fff;
    background-color: #029F8C;
    /* text-transform: uppercase; */
}

.summary{
    color: #383838;
    font-size: 20px;
    /* width: 400px;
    height: 250px; */
    padding: 0px 25px;
}

.result{
    color: #f7ab1e;
    font-weight: 600;
    text-align: center;
    font-size: 25px;
}

.quiz-list{
    /* padding-top:50px; */
    margin-bottom: 0px;
    margin-left: 10%;
    /* display: flex; */
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
    justify-content: center;
    /* gap: 30px; */
    /* wrap: wrap; */
    padding: 50px;
    /* padding-bottom: 0; */
}

#quiz{
    background-image: url('../img/bg-copy-2-5.png');
    border-radius: 8px;
    box-shadow:  4px 4px 8px 1px rgba(34, 60, 80, 0.2);
    /* height: 300px; */
    width: 800px; 
    background-color: #ffffff;
    /* margin: auto 0; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    overflow: hidden;
}

.quiz-header{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

input.answer{
    display: none;
    display: inline-flex;
    line-height: 140%;
    flex: 0 0 31px;
    height: 31px;
    margin-right: 10px;
    /* border: 2px solid #f7ab1e; */
    position: relative;
}

input.answer::before{
    content: "";
    /* line-height: 140%; */
    align-self: center;
    flex: 0 0 25px;
    height: 25px;
    border: 3px solid #f7ab1e;
    /* background-color: #fff; */
    border-radius: 50%;
}

input.answer:checked + .input__label::after{
    content: "";
    position: absolute;
    background-color: #029F8C;
    width: 26px;
    top: 4px;
    left: 4px;
}


li{
    /* font-size: 50px; */
    /* font-weight: 600; */
    list-style-type: none;
    /* padding: 15px; */
    transition: all .5s;
    border-radius: 8px;
}

#submit{
    width: inherit;
    border: none;
    color: #fff;
    font-size: 20px;
    border-radius: 0 0 8px 8px;
    background-color: #029F8C;
    padding: 20px 0;
    transition: all .2s linear;
}

#submit:active,
#submit:hover{
    background-color: #f7ab1e;
}

label{
    display: flex;
    gap: 10px;
    font-size: 20px;
}

.results{
    display: flex;
    gap: 30px;
    text-align: center;
    align-self: center;
    justify-content: center;
}

form *{
    outline: none;
}

form:focus{
    box-shadow: 0 0 25px #029F8C;
}

fieldset{
    background-image: url(../img/bg-copy-2-5.png);
    padding: 20px;
}


.consultations{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.check__list{
    list-style-type: none;
    list-style-image: url('../img/icons/check.svg');
}

.price{
    background-color: #f4fcfa;
    /* color: #fff; */
    /* background-image: url('../img/bg-copy-2-5.png'); */
    padding: 20px 20px 30px 20px;
    border-radius: 8px;
    width: 400px;
    /* height: 600px; */
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    /* gap: 30px; */
    /* box-shadow: 12px 11px 19px -3px rgba(34, 60, 80, 0.32); */
    box-shadow: 0px 0px 20px 10px rgba(34, 60, 80, 0.1);
}

.price-img{
    margin: 30px 0;
}

.price__item, .consultation__name{
    /* color: #fff; */
    font-size: 23px;
}

.price-list{
    padding: 0;
    /* border-top: 3px solid #f7ab1e; */
    /* border-bottom: 3px solid #f7ab1e; */
    margin-top: 70px;
    margin-bottom: 50px;
    /* margin-left: 10px; */
    gap: 15px;
}

.consultation__name{
    /* font-family: 'caveat', cursive; */
    text-transform: uppercase;
    font-size: 30px;
    color: #029F8C;
    /* margin-bottom: 50px; */
    border-bottom: 3px solid #029F8C;
    /* line-height: 40px; */
}

.money{
    
    text-align: left;
    margin-bottom: 30px;
    /* display: flex; */
    /* flex-direction: column; */
    /* gap: 20px; */
}

.price__buttons{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.types{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.type{
    width: 550px;
    background-image: url('../img/bg-copy-2-5.png');
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 10px rgba(34, 60, 80, 0.1);
    /* border: 3px solid #029F8C; */
    transition: all 1s;
    
}


.type__name{
    text-transform: uppercase;
    transition: all 1s;
    /* text-decoration: underline; */
    color: #029F8C;
    font-size: 35px;
    /* text-align: left; */
    font-weight: 700;
}

.orang{
    color: #f7ab1e;
}

.lorem__ipsum{
    font-size: 20px;
    /* padding-left: 10px; */
    /* margin-left: 20px; */
    /* border-left: 5px solid #029F8C; */
}

.lorem__orange{
    border-bottom: 3px solid #f7ab1e;
    border-top: 3px solid #f7ab1e;
}


.test-pic{
    /* height: 500px; */
    width: 600px;
    padding-bottom: 10px;
}

.preview{
    padding-top: 150px;
    /* align-items: end; */
    /* padding-bottom: 10px; */
}

progress{
    width: 700px;
    height: 15px;
    /* border-radius: 8px; */
    margin: 10px auto;
}


progress::-webkit-progress-bar { 
    background:  #029f8d56; 
    border-radius: 25px;
} 
progress::-webkit-progress-value { 
    /* background: #029F8C;  */
    background: #f7ab1e;
    background: linear-gradient(135deg,#f7ab1e 85%,  #f7ab1e 85%);
    border-radius: 25px;
}


.container{
    position: relative;
    /* width: 100%;
    height: 100vh; */
}

.modal-wrapper{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #1b1b1bb4;
    display: none;
}

.modal{
    position: absolute;
    left: 45%;
    top: 60%;
    transform: translate(-325px, -325px);
    /* width: 650px;
    height: 650px; */
    display: flex;
    gap: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    box-shadow: 4px 4px 8px 10px #00000080;
    background-image: url('../img/bg-copy-2-5.png');
}

.close{
    border-radius: 50%;
    width: 2px;
    height: 2px;
    color: #029F8C;
    position: absolute;
    background-color: #fff;
    border: 1px solid #fff;
    top: 20px;
    right: 20px;
    font-size: 25px; 
    /* font-weight: 700; */
    scale: 1;
}

.close:hover{
    background-color: #f7ab1e;
    border: 1px solid #f7ab1e;
    color: #fff;
    scale: 1;
}


/* photo viewer */

.row > .column {
    padding: 0 8px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Create four equal columns that floats next to eachother */
  .column {
    float: left;
    width: 25%;
    display: flex;
    max-width: 1200px;
    justify-content: center;
  }
  
  /* The Modal (background) */
  .modal0,
  .modal01 {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000000c7;
    z-index: 5;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    /* background-color: #fefefe00; */
    margin: auto;
    padding: 0;
    width: 100%;
    /* max-width: 1200px; */
    display: flex;
    justify-content: center;
    align-items: center;

  }
  
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 100px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Hide the slides by default */
  .mySlides,
  .mySlides01 {
    margin: 0;
    padding: 0;
    display: none;
    /* width: 1200px; */
    /* height: 500px; */
    background-color: inherit;
  }
  
  /* Next & previous buttons */
  .left,
  .right {
    cursor: pointer;
    position: absolute;
    top: 0%;
    /* left: 0; */
    width: 50px;
    height: 100vh;
    padding: 16px;
    opacity: 0.3;
    text-align: center;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* margin-top: -50px; */
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.8);
    /* -webkit-user-select: none; */
  }
  
  /* Position the "next button" to the right */
  .right {
    right: 0px;
    border-radius: 3px 0 0 3px;
  }
  
  .left {
    left: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .left:hover,
  .right:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

figure{
    background-color: inherit;
  }
  
  figcaption{
    font-size: 25px;
    text-align: center;
    background-color: inherit;
    color: #fff;
  }