/* @import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@700&family=Pacifico&family=Raleway:wght@500&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@700&family=Open+Sans:wght@300;400;500;600&family=Pacifico&family=Raleway:wght@500&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    /* font-weight: 600; */
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 16px;
    color: #383838;
}


::selection {
    background: #029F8C; /* Safari */
    color: #fff;
    }

body{
    width: auto;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
    /* background-color: #e4e5b94f; */
}

.main{
    width: 100%;
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 25px 50px 25px ;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 90px;
    align-items: center; 
    position: relative;
}

.personal{
    width: 400px;
    padding: 50px 0;
}

.page__name{
    font-size: 42px;
    font-weight: 100;
    color: #383838;
}
.Hanna{
    display: flex;
    flex-direction: row;
    padding-top: 100px;
    /* align-items: center; */
    /* justify-content: flex-start; */
    gap: 200px;
}
h1{
    color: #029F8C;
    /* font-family: cursive; */
    /* font-family: 'Pacifico', cursive; */
    /* font-weight: 600; */
    font-size: 50px;
    /* width: 450px; */
}

/* #your__psycho{
    width: 450px;
} */

.personal__info{
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* padding: 20px 0; */
    /* padding-top: 150px; */
    /* background-color: #fff; */
}

.experience{
    transition: all 0.5s;
}

/* .experience:hover{
    scale: 1.05;
} */

.numbers{
    display: flex;
    flex-direction: row;
    box-shadow:  4px 4px 8px 1px rgba(34, 60, 80, 0.2);
    border-radius: 5px;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 20px 30px;
    /* background-color: #3ed6c41f; */
    background-image: url(../img/bg-copy-2-5.png);
}

.offers{
    display: flex;
    /* gap: 0px; */
}

.offer{
    display: flex;
    flex-direction: column;
    /* border: 1px solid #383838; */
    align-items: center;
    text-align: justify;
    width: 250px;
    gap: 10px;
    padding: 10px;
    /* border-radius: 15px; */
    transition: all 0.5s;
}

.checked{
    display: flex;
    flex-direction: row;
    gap: 90px;
}

.check__list{
    /* list-style-image: url(../img/icons/check.svg); */
    /* width: 25px; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* justify-content: center; */
    /* flex-wrap: wrap; */
}

.offer:hover{
    box-shadow: 0px 0px 15px 5px rgba(34, 80, 46, 0.2);
    /* background-color: #f4fcfa67; */
}

.offer_img{
    width: 80px;
}

.offer__description{
    font-weight: 100;
    text-align: center;
    /* width: 250px; */
    color: #b4b4b4;
    transition: all .5s;
    cursor: default;
}

.offer:hover > .offer__description{
    color: #5f5f5f;
    /* color: #029F8C; */
}

.offer:hover > h4{
    color: #f7ab1e;
}

h4{
    
    text-transform: uppercase;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: all .9s;
    cursor: default;
}

.btns{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.btn{
    /* font-family: Pacifico, cursive; */
    background-color:#f7ab1e ;  
    color: #fff;
    width: 300px;
    height: 30px;
    border: 1px solid #f7ab1e;
    border-radius: 5px;
    font-size: 17.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    gap: 30px;
    transition: all 0.5s;
    box-shadow: 12px 11px 19px -3px rgba(34, 60, 80, 0.32);
}

.btn:hover{
    background-color: #fff;
    color: #e96b42;
    border: 1px solid #e96b42;
    scale: 1.02; 
}

#consultation{
    background-color: #029F8C;
    border: 1px solid #029F8C;
    color: #fff;
    transition: all 0.5s;
    width: 300px;
    /* border-radius: 15px; */
}

#consultation:hover{
    border: 1px solid #029F8C;
    color: #029F8C;
    background-color: #fff;
}

h3{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    color: #f7ab1e;
    font-weight: 600;
    font-size: 80px;
}

h2{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    color: #f7ab1e;
    font-weight: 600;
    font-size: 40px;
}

span{
    color: #383838;
    /* color: #029F8C; */
    /* font-weight: 600; */
    text-align: justify;
}

input{
    border-radius: 5px;
    width: 500px;
    height: 40px;
    padding-left: 10px;
    border: 2px solid #029F8C;
    box-shadow:  4px 4px 8px 1px rgba(34, 60, 80, 0.2);
    background-color: #ffffff7a;
}

textarea{
    border-radius: 5px;
    padding: 10px;
    border: 2px solid #029F8C;
    height: 140px;
    width: 500px;
    resize: none;
    box-shadow:  4px 4px 8px 1px rgba(34, 60, 80, 0.2);
    background-color: #f4fcfa88;
}

.page__logo{
    /* background-attachment: fixed; */
    /* height: 176px; */
    width: 100vw;
    height: 175px;
    align-items: flex-start;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
    background-image: url(../img/bg-copy-2-5.png);
    display: flex;
    padding: 50px 350px;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}


.author{
    font-family: Pacifico, cursive;
    font-size: 25px;
    font-weight: 100;
    text-align: right;
    justify-self: end;
}

.clients{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-self: flex-start;
    flex-wrap: wrap;
}

.green__name{
    color: #029F8C;
}

.about__client{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    /* gap: 20px; */
    padding: 10px;
    width: 280px;
    /* border: 1px solid #e96b42; */
    transition: all 0.7s;
    border-radius: 5px;
    box-shadow:  4px 4px 8px 1px rgba(34, 60, 80, 0.2);
}

.about__client:hover{ 
    scale: 1.05;
} 

.client__img{
    /* width: 292px; */
}

.client__name{
    font-size: 20px;
    /* color: #e96b42; */
}

/* Style the list */
ul.breadcrumb {
    font-family: 'OpenSans', sans-serif;
    padding: 5px 2px;
    list-style: none;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    align-items: center;
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    font-size: 16px;
    /* font-weight: 600; */
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 5px;
    color: #494949;
    content: "»";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    font-size: 16px;
    font-weight: 600;
    color: #029F8C;
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: #e96b42;
    /* text-decoration: underline; */
}

li,p,td, .lorem{
    font-size: 18px;
    text-align: justify;
    /* font-weight: 600; */
}

.numered__lists{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

th{
    text-transform: uppercase;
    font-size: 20px;
    text-align: left;
}

th:nth-child(2){
    color: #029F8C;
}

th:nth-child(1){
    color: #e96b42;
}

td{
    padding-right: 30px;
    border-left: 3px solid #029F8C;
}

td:nth-child(2){
    border-left: 5px solid #e96b42;
}

td:nth-child(1){
    border-left: 5px solid #029F8C;
}



.tests{
    justify-content: space-between;
}

.test{
    width: 390px;
    /* gap: 10px; */
    border-radius: 5px; 
    opacity: 0.7;
    transition: all 1s;
    box-shadow:  4px 4px 8px 1px rgba(34, 60, 80, 0.2);

}

.test:hover{
    opacity: 1;
scale: 1.03;
}

.test__img{
    /* border-radius: 50px 0 0 0; */
}

.test__name{
    /* font-weight: 600; */
    transition: all 0.7s;
    /* font-family:Pacifico, cursive; */
    font-size: 25px;
    background-color: #029F8C;
    color: #fff;
    border-radius: 0 0 5px 5px;
    padding: 5px 15px;
    /* opacity: 0.7; */
}

.test__description{
    text-align: justify;
    padding: 10px 15px;    
    text-align: left;
    color: gray;
    transition: all 0.7s;
    font-weight: 100;
}

.test:hover > .test__description{
    color: #029F8C;
}

.test:hover > .test__name{
background-color: #e96b42;
}

.error-img{
    width: 900px;
}

.error__description{
    /* font-family: Pacifico; */
    font-size: 35px;
    font-weight: 100;
    color: #029F8C;
}

hr{
    width: 500px;
    color: #fff;
    border-radius: 50px;
}

.line{
    width: 500px;
    height: 3px;
    background-color: #029F8C;
    border-radius: 50px;
}

.error__page{
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.notfound__description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.contact__link{
    color: #e96b42;
    font-size: 18px;
    transition: all 0.9s;
}

/* svg .icon{
    fill: #029F8C;
} */

.cards{
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
}

.allin{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact__link:hover{
    color: #029F8C;
}

.contact__page{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
}

.contacts{
    display: flex;
    flex-direction: row;
    gap: 0px;
    /* flex-wrap: wrap; */
}

.svg__icon{
    width: 25px;
}

.contact{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 166px;
    width: 255px;
    justify-content: center;
    box-shadow:  4px 4px 8px 1px rgba(34, 60, 80, 0.2);
    border-radius: 15px;
    padding: 20px;
    background-image: url(../img/bg-copy-2-5.png);
    font-size: 20px;
    color: #383838;
    transition: all 1s;
}

/* .contact:hover{
    scale: 1.05;
} */

#contact__form{
    gap: 50px;
    display: flex;
    flex-direction: row;
    /* background-image: url(../img/bg-copy-2-5.png); */
}

label{
    font-size: 18px;
}

.input__contact{
    gap: 5px;
    display: flex;
    flex-direction: column;
}

fieldset{
    padding: 15px;
    border: 2px solid #029F8C;
    border-radius: 10px;
    display: flex;
    box-shadow:  4px 4px 8px 1px rgba(34, 60, 80, 0.2);
    flex-direction: row;
    gap: 50px;
    background-image: url(../img/bg-copy-2-5.png);
}

legend{
    /* border: 2px solid #029F8C; */
    font-size: 22px;
    padding: 15px;
    color: #029F8C;
}


.for__big__text,
.for__lil__text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.map-widget-app{
    /* border-radius: 50px; */
}

.svg__contact{
    width: 30px;
}

.check__item{
    /* list-style-type: none; */
    list-style-image: url('../img/icons/check.svg');
    display: flex;
    gap: 10px;
    align-items: center;
}

/* .check__item:before{
    content: url('../img/icons/check.svg');
} */

.button-1 {
    color: #232323;
    background: transparent;
    border: 1px solid #232323;
    position: relative;
    font-size: 14px;
    letter-spacing: .3em;
    font-family: 'Montserrat', sans-serif;
    padding: 17px 34px 17px 39px;
    transition: .2s ease-in-out;
    cursor: pointer;
}
.button-1:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 100%;
    height: 100%;
    background: #32D4E2;
    z-index: -1;
    transition: .25s ease;
    transform: translate(0, 0);
}
.button-1:hover:before {
    transform: translate(4px, 4px);
}

ol{
    counter-reset: myCounter;
  }
  
 ol li{
    list-style: none;
    line-height: 20px;
    margin: 0 0 8px 0;
  }
  
  ol li:before {
    counter-increment: myCounter;
    content: counter(myCounter);
    color: #fff;
    background: #029F8C;
    display: inline-block;
    text-align: center;
    line-height: normal;
    height: auto;
    width: auto;
    margin: 0 10px 0 0;
    padding: 5px 10px;
    border-radius: 50%;
}

.howicanhelp{
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    background-color: #f4fcfa;
    width: 100vw;
}

.icanhelp{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #383838;
}

/* .lil__line{
    width: 150px;
    height: 3px;
    background-color: #f7ab1e;
} */

.lil-description{
    padding-top: 10px;
    border-top: 3px solid #f7ab1e;
}

.courses, .slider{
    /* padding: 0 23px; */
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
    text-align: center;
}

.carousel,
.slides{
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    margin:  0 20px;
}

.carousel img,
.slide{
    margin-left: 15px;
    width: calc(100% / 3);
    height: 295px;
    object-fit: cover;
}

.carousel img:first-child,
.slides:first-child{
    margin-left: 15px;
}

.courses i,
.slider i{
    font-size: 40px;
    text-align: center;
    background-color: #f7ab1e;
    color: #fff;
    line-height: 70px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    transition: all .4s;
    cursor: pointer;
    position: absolute;
    top: 50%;
    opacity: 0.7;
    transition: all 0.3s linear;
    /* transform: translateY(-70%); */
}

.courses .carousel,
.second_courses .second_carousel{
    scroll-behavior: smooth;
}

.courses i:active,
.slider i:active{
    transform: scale(0.7);
}

.carousel.dragging,
.slides.dragging{
    cursor: grab;
    scroll-behavior: auto;
}

.carousel.dragging img{
    pointer-events: none;
}

.courses i:hover,
.slider i:hover{
    /* color: #f7ab1e; */
    display: block;
    background-color: #029F8C;
    opacity: 1;
}

.courses i:first-child,
.slider i:first-child{
    left: -5px;
}

.courses i:last-child,
.slider i:last-child{
    right: -5px;
}

@media screen and (max-width: 900px) {
    .carousel img,
    .second_carousel img{
        width: calc(100% / 2);
    }
}

@media screen and (max-width: 550px) {
    .carousel img,
    .second_carousel img{
        width: 90%;
    }

    .courses i,
    .courses i{
        top: 60%;
    }
}

.slider {
    position: relative;
    box-shadow: 3px 3px 10px rgba(0,0,0,.2);
}


  .slides {
    display: flex;
    position: absolute;

  }
  
  .slides.shifting {
    transition: left .2s ease-out;
  }
  
  .slide{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 1s;
    background: #FFCF47;
    border-radius: 2px;
}

#prev,
#next{
    background-size: 22px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
  