@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;600;700&family=Open+Sans:wght@300;400;500;600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* header style */

header{
    padding: auto 0;
    position: fixed;
    width: 100vw;
    height: 100px;
    background: #fff;
    box-shadow: 0px 10px 10px 0px rgba(5, 5, 5, 0.2);
    display: flex;
    align-items: center;
    z-index: 1;
}

.head-container{
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    gap: 50px;
    align-items: center;
}

.logotype{
    display: flex;
    gap: 15px;
    align-items: center;
}

.favicon{
    width: 30px;
}

a, a:visited{
    text-decoration: none;
    /* color: #6d89b9; */
}

.logo-title{
    color: #6d89b9;
    font-family: 'caveat';
    font-size: 30px;
    font-weight: 600;
}

/* navigation style */

nav{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    gap: 20px;
}

.nav-link{
    font-size: 19px;
    text-transform: uppercase;
    color: #6d89b9;
}

.nav-link:after{
    display: block;
	left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
	width: 0;/*задаём длинну линии до наведения курсора*/
	height: 3px; /*задаём ширину линии*/
	background-color: #f7ab1e; /*задаём цвет линии*/
	content: "";
	transition: width .3s ease-out;
}

.nav-link:hover:after,
.nav-link:focus:after{
	width: 102%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown .dropbtn{
    /* width: 190px; */
    font-size: 16px;
    padding: 15px 25px;
    background-color: inherit;
    border: none;
    cursor: pointer;
}

.dropdown-content{
    display: none;
    position: absolute;
    box-shadow: 0 8px 16px 0px #00000033;
}

.dropdown-content a{
    border: none;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #383838;
    background-color: #f2f2f2;
    padding: 10px;
    width: 210px;
    font-size: 20px;
    transition: all .3s;
}

.dropdown-content a:hover{
    color: #fff;
    background-color: #6d89b9;
}

.dropdown:hover .dropdown-content{
    display: block;
}

/* footer */

footer{
    /* margin-top: 100px; */
    padding: 25px 50px 25px 0px;
    box-shadow: 0px -8px 8px 0px rgba(0, 0, 0, 0.2);
    /* background-color: #6d89b9; */
    /* background: linear-gradient(90deg, rgba(109,137,185,1) 0%, rgba(2,159,140,1) 50%); */
    background: linear-gradient(45deg, rgba(109,137,185,1) 0%, rgba(2,159,140,1) 40%, rgba(74,144,170,1) 70%, rgba(109,137,185,1) 100%);

    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: 50px;
    flex-wrap: wrap;
    color: #fff;
}

.footer-lists{
    display: flex;
    gap: 50px;
    margin-left: 100px;
    flex-wrap: wrap;
}

.list-title{
    opacity: 0.8;
    font-weight: 100;
    font-size: 18px;
    text-decoration: underline;
}

ul.footer-list{
    list-style: none;
    margin-top: 10px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

ul a,
.footer-link{
    color: #fff;
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 15px;
    opacity: 0.7;
    transition: all .7s;
}

ul a:hover{
    opacity: 1;
}

.footer-title, .footer-favicon{
    color: #fff;
    opacity: 0.7;
    font-size: 25px;
}