@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;600;700&family=Open+Sans:wght@300;400;500;600&display=swap');

/* #029F8c */
/* #6d89b9 */

*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* color: #383838; */
}

html {
    scroll-behavior: smooth;
    opacity: 1;
    transition: all 2s;
}

body{
    margin: 0 auto;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 50px;
    min-height: 100vh;
    justify-content: center;
    overflow-x: hidden;
    scroll-behavior:smooth;
}

.body_hide {
	opacity: 0;
	transition: 2s opacity ease-in-out;
}
.body_visible {
	opacity: 1;
}

::selection {
    background: #6d89b9; /* Safari */
    color: #fff;
}

main{
    position: relative;
    padding: 0 50px;
    margin: 150px auto;
    max-width: 1200px;
    text-align: justify;
    display: flex;
    gap: 100px;     
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a{
    color: black;
}

.green{
    color: #6d89b9;
}

.orange{
    color: #f7ab1e;
}

.gray{
    filter: grayscale(1);
}

.site-info{
    display: flex;
    flex-direction: row;
    gap: 50px;
    /* flex-wrap: nowrap; */
}

.my-photo{
    max-width: 500px;
    border-radius: 25px;
    box-shadow: 12px 11px 19px -3px rgba(34, 60, 80, 0.32);
}

.psy-info{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

h1 {
    font-family: 'caveat';
    font-size: 50px;
    color: #6d89b9;
}


.information{
    border-top: 3px solid #6d89b9;
    border-bottom: 3px solid #6d89b9;
    padding: 20px 0;
    font-size: 20px;
    text-align: justify;
}

.check-list-container{
    display: flex;
    /* flex-wrap: wrap; */
}

.check-list{
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.check-item{
    font-size: 20px;
    list-style: none;
    display: flex;
    gap: 10px;
    align-items: center;
}

.btns{
    display: flex;
    gap: 30px;
    
}

.btn{
    text-align: center;
    cursor: pointer;
    width: 300px;
    height: 30px;
    padding: 25px;
    color: #fff;
    font-size: 17.5px;
    border: none;
    border-radius: 10px;
    transition: all .8s;
    box-shadow: 12px 11px 19px -3px rgba(34, 60, 80, 0.32);
    display: flex;
    justify-content: center;
    align-items: center;   
}

.green-btn{
    background-color: #6d89b9;
    border: 1px solid #6d89b9;
}

.orange-btn{
    background-color: #f7ab1e;
    border: 1px solid #f7ab1e;
}

.btn:hover{
    scale: 1.05;
    background-color: #fff;
}

.green-btn:hover{
    color: #6d89b9;
}

.orange-btn:hover{
    color: #f7ab1e;
}

.test-btn{
    width: 330px;
}

.test-btn:hover{
    scale: 1.02;
}

.orange-border{
    border-top: 3px solid #f7ab1e;
    border-bottom: 3px solid #f7ab1e;
}

.main-container{
    width: 100vw;
    padding: 50px 0;
    text-align: center;
    background-color: #f4fcfa;
    box-shadow: 0px 0px 75px 8px rgba(34, 60, 80, 0.08) inset;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.container-title{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inherit-fill{
    background-color: #fff;
    box-shadow: none;
}

.container-name{
    font-size: 40px;
    text-align: center;
}

.container-description{
    color: #b4b4b4;
    cursor: default;
}

.offers{
    margin-top: 20px;
    display: flex;
    /* gap: 20px; */
    flex-wrap: wrap;
}

.offer{
    text-align: center;
    padding: 10px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    width: 250px;
    transition: all .5s;
}

.offer:hover{
    box-shadow: 0px 0px 15px 5px rgba(34, 80, 46, 0.2);
}

.offer:hover > h3{
    color: #f7ab1e;
    opacity: 1;
}

.offer-img{
    width: 80px;
}

.offer-name,
.test-body,
.result,
.summary,
.title,
span,
.question{
    font-size: 16px;
    opacity: 0.8;
    text-transform: uppercase;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: all 0.7s;
    cursor: default;
}

.number, .result, .title{
    font-weight: 700;
}

/* slider */

.itc-slider{
    position: relative;
    display: flex;
    max-width: 1200px;
    max-height: 600px;
}

.hidden{
    display: none;
    transition: all 2s;
}

.itc-slider-wrapper{
    overflow: hidden;
    display: flex;
    padding: 10px;
}

.itc-slider-items{
    display: flex;
    transition: transform 0.5s ease;
    align-items: center;
    gap: 30px;
}

.itc-slider-transition-none {
    transition: none;
}

.itc-slider-item{
    flex: 0 0 30%;
    user-select: none;
    object-fit: cover;
    height: 295px; 
    width: calc(100% / 3);
    cursor: pointer;
}

.test-slider-item{
    flex: 0;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    box-shadow:  4px 4px 8px 1px rgba(34, 60, 80, 0.2);
    border-radius: 5px;
    padding: 22px;
}

  /* кнопки влево и вправо */
.itc-slider-btn {
    font-size: 30px;
    text-align: center;
    background-color: #6d89b9;
    color: #fff;
    line-height: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: all .4s;
    cursor: pointer;
    position: absolute;
    top: 40%;
    opacity: 0.7;
}  

.itc-slider-btn-prev {
    left: -23px;
}

.itc-slider-btn-next {
    right: -23px;
}

.itc-slider-btn-prev:hover,
.itc-slider-btn-next:hover{
    background-color: #f7ab1e;
    opacity: 1;
}

.itc-slider-btn-prev:active,
.itc-slider-btn-next:active{
    transform: scale(0.7);
}


/* photo viewer */
/* The Modal (background) */
.modal0,
.modal01 {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000000c7;
    z-index: 5;
}

  /* Modal Content */
.modal-content,
.modal-content01 {
    position: relative;
    margin: auto;
    padding: 0;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

  /* The Close Button */
.close{
    color: #fff;
    position: absolute;
    top: 10px;
    right: 100px;
    font-size: 50px;
    font-weight: bold;
    transition: all .5s;
    border: none;
    background-color: none;
}

.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
    color: #f7ab1e;
}

#close-btn{
    color: #6d89b9;
    background-color: inherit;
    right: 25px;
}

#close-btn:hover{
    color: #f7ab1e;
}

  /* Hide the slides by default */
.mySlides,
.mySlides01 {
    margin: 0;
    padding: 0;
    display: none;
    background-color: inherit;
    align-items: center;
    justify-content: center;
}

  /* Next & previous buttons */
.left,
.right {
    cursor: pointer;
    position: absolute;
    top: 0%;
    width: 50px;
    height: 100vh;
    padding: 16px;
    opacity: 0.3;
    text-align: center;
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.8);
}

  /* Position the "next button" to the right */
.right {
    right: 0px;
    border-radius: 3px 0 0 3px;
}

.left {
    left: 0;
    border-radius: 3px 0 0 3px;
}

  /* On hover, add a black background color with a little bit see-through */
.left:hover,
.right:hover {
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0.8;
}

figure{
    background-color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

figcaption{
    font-size: 25px;
    text-align: center;
    background-color: inherit;
    color: #fff;
}

.consultations{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.consultation{
    box-shadow: 0px 0px 15px 5px rgba(34, 80, 46, 0.2);
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.consultation-name{
    font-size: 35px;
    border-bottom: 3px solid #6d89b9;
    opacity: 1;
    font-weight: 600;
}

.price{
    font-size: 50px;
    text-align: left;
}

#personalConsultation,
#familyConsultation,
#testBtn{
    width: inherit;
}

.price-img{
    max-width: 350px;
}

.container{
    position: relative;
}

.modal-wrapper{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #1b1b1bb4;
    display: none;
    z-index: 2;
}

.modal{
    position: absolute;
    left: 45%;
    top: 50%;
    transform: translate(-325px, -325px);
    display: flex;
    gap: 50px;
    border-radius: 25px;
    box-shadow: 4px 4px 8px 10px #00000080;
}

fieldset{
    padding: 25px;
    border: 2px solid #6d89b9;
    border-radius: 5px;
    display: flex;
    box-shadow:  4px 4px 8px 10px rgba(34, 60, 80, 0.2);
    flex-direction: row;
    gap: 20px;
    background-image: url('../img/background.png');
}

.input-section{
    display: flex;
    flex-direction: column;
    gap: 25px;
    text-align: left;
    font-size: 20px;
}

input.text{
    width: 400px;
    height: 40px;
    padding: 10px;
    font-size: 17px;
    border-radius: 5px;
    border: 2px solid #6d89b9;
    box-shadow:  4px 4px 8px 1px rgba(34, 60, 80, 0.2);
}

textarea.text{
    border-radius: 5px;
    padding: 10px;
    border: 2px solid #6d89b9;
    height: 140px;
    /* width: inherit; */
    resize: none;
    font-size: 17px;
    box-shadow:  4px 4px 8px 1px rgba(34, 60, 80, 0.2);
}

.input__contact{
    display: flex;
    flex-direction: column;
}

.form-img{
    width: 430px;
}

.form-btn{
    width: inherit;
}

.element-animation {
    opacity: 0;
    transform: translateY(30%);
}

.element-animation.element-show {
    opacity: 1;
    transition: all 1.5s;
    transform: translateY(0%);
}

/* pages style */
.page-main{
    text-align: left;
    /* align-items: flex-start; */
    padding: 0;
    margin-top: 50px;
    margin-bottom: 100px;
    gap: 20px;
}

.no-border{
    border: none;
    padding: 10px 0;
}

.header-container{
    background-image: url('../img/background.png');
    background-position: center;
    box-shadow: 0px 0px 75px 8px rgba(34, 60, 80, 0.16) inset;
    margin-bottom: 50px;
}

.page-header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 1200px;
}

.page-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

ul.breadcrumb {
    font-family: 'caveat';
    padding: 5px 2px;
    display: flex;
    gap: 0px;
    align-items: center;
}

/* Display list items side by side */
ul.breadcrumb li {
    font-family: 'caveat', cursive;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 5px;
    color: #6d89b9;
    content: "»";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    font-size: 25px;
    color: #6d89b9;
    transition: all .2s;
    font-family: 'caveat', cursive;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: #f7ab1e;
}

ol, .list{
    counter-reset: myCounter;
    background-image: url('../img/background.png');
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px 10px rgba(34, 60, 80, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

ol li,
ul li{
    list-style-type: none;
    line-height: 20px;
    margin: 0 0 8px 0px;
    font-size: 20px;
    text-align: justify;
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
}

ol li:before {
    counter-increment: myCounter;
    content: counter(myCounter);
    color: #fff;
    background: #6d89b9;
    display: inline-block;
    text-align: center;
    line-height: normal;
    height: auto;
    width: auto;
    margin: 0 10px 0 0;
    padding: 7px 13px;
    border-radius: 50%;
    font-size: 20px;
}

.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 30px;
}

.card{
    /* width: 585px; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-image: url('../img/background.png');
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px 10px rgba(34, 60, 80, 0.1);
}

#sign{
    align-self: flex-start;
    font-weight: 700;
    font-size: 30px;
}

.signature{
    margin: 20px 0;
}

.clients-cards{
    gap: 15px;
}

.client-card{
    border-radius: 5px;
    align-items: center;
    align-items: flex-start;
    gap: 10px;
    box-shadow: none;
    padding: 19px;
    transition: all .7s;
    box-shadow:  4px 4px 8px 1px rgba(34, 60, 80, 0.2);
    
}

.client-card:hover{
    scale: 1.05;
}

.client-card:hover > h3{
    color: #f7ab1e;
    /* opacity: 1; */
}

.clients-name{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    text-transform: none;
    font-weight: 100;
}

.client-img{
    width: 250px;
}

.test-img{
    width: 320px;
    /* align-self: center; */
}

.test-photo{
    width: 500px;
}

#test-preview{
    align-items: center;
}

.interactiveQuiz{
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* align-items: center; */
    /* text-align: center; */
    justify-content: space-between;
    background-image: url('../img/background.png');
    border: 2px solid #6d89b9;
    padding: 20px;
    border-radius: 15px;
    box-shadow:  4px 4px 8px 5px rgba(21, 33, 43, 0.2);
    /* width: 815px; */
    /* height: 400px; */
}

.quiz-list{
    display: flex;
    margin: 10px 0;
    /* padding: 20px; */
    border-radius: 5px;
    /* border: 2px solid #6d89b9; */
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
    align-items: flex-start;
    align-self: flex-start;
}

.label__input{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
}

.progress{
    display: flex;
    gap: 10px;
    align-items: center;
}

progress{
    width: 600px;
    height: 15px;
    border-radius: 50px;
    justify-content: space-between;
    /* margin: 10px auto; */
}

progress::-webkit-progress-bar { 
    background:  #6d89b977; 
    border-radius: 25px;
} 
progress::-webkit-progress-value { 
    /* background: #6d89b9;  */
    background: #f7ab1e;
    border-radius: 50px;
}

.title{
    font-size: 21px;
    align-self: center;
    text-align: center;
    /* font-size: 20px; */
    height: 80px;
    /* color: #f7ab1e; */
    /* width: 700px; */
}

.message{
    align-self: center;
    text-align: center;
    font-size: 25px;
    height: 50px;
}

h2.question{
    font-size: 22px;
    width: 700px;
    align-self: flex-start;
    text-align: left;
}

span{
    font-size: 22px;
    font-weight: 700;
    text-transform: none;
}

.result{
    align-self: center;
    color: #6d89b9;
    font-size: 20px;
}

.summary{
    font-size: 18px;
}

.results{
    /* margin-left: 15px; */
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.result-comntainer{
    /* width: 150px; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow:  4px 4px 8px 5px rgba(21, 33, 43, 0.2);
    flex-direction: column;
    border-radius: 10px;
    padding: 20px;
}